// Custom additions 
$duration: 30s;
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

header[role=banner] {
  
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 6rem;
  background-color: rgba(#000, 0.4); 
  padding-left: 100%;
  box-sizing: content-box;
  z-index: 25;

  h1, h2 {
    margin-top: 5px;
    display: inline-block;
    height: .5rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    color: #6fce72;
    font-size: 2rem;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

  }

}